<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Find@Home", project_url: "Find", page_link: "find" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Find@Home", project_homepage: "http://findah.ucd.ie/", project_description: "The goal of CASL is to become a globally recognised institute in applied mathematics, computational science and informatics.", project_institution: "Complex of Adaptive Systems Laboratory(CASL) University College Dublin (UCD)", project_institution_url: "http://www.ucd.ie/casl/", launch_date: "20/07/2012" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>