<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "POEM", project_url: "POEM", page_link: "poem" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Poem@Home", project_homepage: "http://boinc.fzk.de/poem/", project_description: "Models protein folding using Anfinsen's dogma.", project_institution: "Biomolecular Structure Prediction Group", project_institution_url: "http://iwrwww1.fzk.de/biostruct/", launch_date: "13-11-2007" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>