<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Leiden Classic", project_url: "LeidenClassic", page_link: "Leidenclassic" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Leiden Classical", project_homepage: "http://boinc.gorlaeus.net/", project_description: "Surface science calculations using Classical Dynamics. In contrast to other projects, Leiden Classical allows volunteers, students and other scientists to submit their personal calculations to the grid. Each user has his own personal queue for Classical Dynamics jobs. In this way students have used the grid to simulate liquid argon, or to test the validity of the ideal gas law by actually doing the simulations through the grid.", project_institution: "Leiden University", project_institution_url: "http://www.leiden.edu/", launch_date: "05-12-2005" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>