<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Gridcoin Finance", project_url: "GRCF", page_link: "gridcoinfinance" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Gridcoin Finance", project_homepage: "http://finance.gridcoin.us/finance/", project_description: "Gridcoin Finance is a research and development project that uses volunteers computing power to perform financial simulations, analysis of the block chain, consolidate humanitarian reports, calculate marketing strategies, perform stock option analysis, harvest business intelligence, and assimilate top level results for the crowdsourced web pages.", project_institution: "Gridcoin", project_institution_url: "http://www.gridcoin.us", launch_date: "2014" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>