<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Numbersfield", project_url: "Numbersfield", page_link: "numbersfield" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "NumbersField@Home", project_homepage: "http://numberfields.as.edu/NumberFields/", project_description: "Research in number theory", project_institution: "School of Mathematics Arizona State University", project_institution_url: "http://math.arizona.edu/", launch_date: "8 Aug 2011" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>