<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/index.html">GRCNode</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header" style="color:black;"><h5>Projects</h5></li>
            <li>
                <a href="/Projects/asteroids/asteroids.html">Asteroids@Home</a>
            </li>
            <li>
                <a href="/Projects/burp/burp.html">BURP</a>
            </li>
            <li>
                <a href="/Projects/collatz/collatz.html">Collatz</a>
            </li>
            <li>
                <a href="/Projects/cosmology/cosmology.html">Cosmology</a>
            </li>
            <li>
                <a href="/Projects/csg/csg.html">Citizens Science Grid</a>
            </li>
            <li>
                <a href="/Projects/einstein/einstein.html">Einstein@Home</a>
            </li>
            <li>
                <a href="/Projects/enigma/enigma.html">Enigma@Home</a>
            </li>
            <li>
                <a href="/Projects/find/find.html">FIND@Home</a>
            </li>
            <li>
                <a href="/Projects/gpugrid/gpugrid.html">GPUGRID</a>
            </li>
            <li>
                <a href="/Projects/lhc/lhc.html">vLHC</a>
            </li>
            <li>
                <a href="/Projects/malariacontrol/malariacontrol.html">MalariaControl</a>
            </li>
            <li>
                <a href="/Projects/milkyway/milkyway.html">Milkyway@Home</a>
            </li>
            <li>
                <a href="/Projects/mindmodeling/mindmodeling.html">MindModeling</a>
            </li>
            <li>
                <a href="/Projects/moo/moo.html">MooWrap</a>
            </li>
            <li>
                <a href="/Projects/nfs/nfs.html">NFS</a>
            </li>
            <li>
                <a href="/Projects/numbersfield/numbersfield.html">NumbersField</a>
            </li>
            <li>
                <a href="/Projects/poem/poem.html">POEM</a>
            </li>
            <li>
                <a href="/Projects/pogs/pogs.html">POGs SkyNet</a>
            </li>
            <li>
                <a href="/Projects/primegrid/primegrid.html">PrimeGrid</a>
            </li>
            <li>
                <a href="/Projects/sat/sat.html">SAT</a>
            </li>
            <li>
                <a href="/Projects/seti/seti.html">SETI@Home</a>
            </li>
            <li>
                <a href="/Projects/yoyo/yoyo.html">YOYO@Home</a>
            </li>
            <li>
                <a href="/Projects/wuprop/wuprop.html">Wuprop</a>
            </li>
            <li>
                <a href="/Projects/yafu/yafu.html">YAFU</a>
            </li>
          </ul>
        </li>
<!--
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nodes <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li role="presentation" class="dropdown-header" style="color:black;"><h5>GRCNodes</h5></li>
            <li>
                <a href="/Nodes/AMS/AMS.html">Amsterdam</a>
            </li>
            <li>
                <a href="/Nodes/GER/GER.html">Frankfurt</a>
            </li>
            <li>
                <a href="/Nodes/NYC/NYC.html">New York</a>
            </li>
            <li>
                <a href="/Nodes/SF/SF.html">San Francisco</a>
            </li>
            <li>
                <a href="/Nodes/Testnet/testnet.html">Testnet</a>
            </li>
          </ul>
        </li>
-->
        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Community <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                <li role="presentation" class="dropdown-header" style="color:black;">Gridcoin Community</li>
                <li>
                    <a href="https://gridcoin.us" style="color:#9A9899;">
                        Gridcoin.us
                    </a>
                </li>
                <li>
                    <a href="https://cryptocointalk.com/forum/464-gridcoin-grc/" style="color:#9A9899;">
                        <i class="fa fa-users" style="color:#707C34;"></i> Forum
                    </a>
                </li>
                <li>
                    <a href="https://www.fb.com/gridcoins" style="color:#9A9899;">
                        <i class="fa fa-facebook" style="color:#707C34;"></i> Facebook
                    </a>
                </li>
                <li>
                    <a href="https://github.com/gridcoin/Gridcoin-Research" style="color:#9A9899;">
                        <i class="fa fa-github" style="color:#707C34;"></i> Github
                    </a>
                </li>
                <li>
                    <a href="https://twitter.com/GridcoinNetwork" style="color:#9A9899;">
                        <i class="fa fa-twitter" style="color:#707C34;"></i> Twitter
                    </a>
                </li>
                <li>
                    <a href="http://www.reddit.com/r/gridcoin" style="color:#9A9899;">
                        <i class="fa fa-reddit" style="color:#707C34;"></i> Reddit
                    </a>
                </li>
                <li>
                    <a href="http://wiki.gridcoin.us/Main_Page" style="color:#9A9899;"><i class="fa fa-wikipedia-w" style="color:#707C34;"></i> Gridcoin Wiki</a>
                </li>
                <li role="presentation" class="dropdown-header" style="color:black;">BOINC Community</li>
                <li>
                    <a href="http://formula-boinc.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Formula BOINC</a>
                </li>
                <li>
                    <a href="http://uotd.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> User of the Day</a>
                </li>
                <li>
                    <a href="https://boinc.berkeley.edu/dev/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> BOINC Forum</a>
                </li>
                <li>
                    <a href="http://hardforum.com/index.php" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> [H]ard|Forum</a>
                </li>
                <li>
                    <a href="http://www.rechenkraft.net/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Rechenkraft.net</a>
                </li>
                <li>
                    <a href="http://desktopgridfederation.org/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> IDGF</a>
                </li>
                <li>
                    <a href="http://www.seti-germany.de/" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> Seti-Germany</a>
                </li>
                <li>
                    <a href="http://www.setiusa.us" style="color:#9A9899;"><i class="fa fa-arrow-circle-right" style="color:#707C34;"></i> SETI.USA</a>
                </li>
                <li role="presentation" class="dropdown-header" style="color:black;">IRC</li>
                <li>
                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin" style="color:#9A9899;">#Gridcoin</a>
                </li>
                <li>
                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-dev" style="color:#9A9899;">#Gridcoin-dev</a>
                </li>
                <li>
                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-german" style="color:#9A9899;">#Gridcoin-German</a>
                </li>
                <li>
                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-games" style="color:#9A9899;">#Gridcoin-games</a>
                </li>
                <li>
                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#gridcoin-irpg" style="color:#9A9899;">#Gridcoin-irpg</a>
                </li>
                <li>
                    <a href="https://kiwiirc.com/client/irc.freenode.net:6667/#BOINC" style="color:#9A9899;">#BOINC</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Services <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                <li role="presentation" class="dropdown-header" style="color:black;">Exchanges</li>
                <li>
                    <a href="https://holytransaction.com/" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> HolyTransactions</a>
                    <a href="https://poloniex.com/exchange/btc_grc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Poloniex</a>
                    <a href="https://c-cex.com/?p=grc-btc" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> C-Cex</a>
                    <a href="https://bittrex.com/Market/Index?MarketName=BTC-GRC" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> Bittrex</a>
                    <a href="https://www.bitsquare.io" style="color:#9A9899;"><i class="fa fa-credit-card" style="color:#707C34;"></i> BitSquare</a>
                </li>
                <li role="presentation" class="dropdown-header" style="color:black;">Exchange Stats</li>
                <li>
                    <a href="http://coinmarketcap.com/currencies/gridcoin/" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> Coinmarketcap</a>
                    <a href="https://www.coingecko.com/en/coins/gridcoin-research" style="color:#9A9899;"><i class="fa fa-line-chart" style="color:#707C34;"></i> CoinGecko</a>
                </li>
                <li role="presentation" class="dropdown-header" style="color:black;">Team Stats</li>
                <li>
                    <a href="http://gridresearchcorp.com/gridcoin/" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> GridResearchCorp</a>
                    <a href="http://boincstats.com/en/stats/-1/team/detail/118094994/projectList" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Boincstats</a>
                    <a href="http://www.boinc.netsoft-online.com/e107_plugins/boinc/bp_home.php" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Netsoft</a>
                    <a href="http://stats.kwsn.net/team.php?proj=all&teamid=136036" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> KWSN</a>
                    <a href="http://www.allprojectstats.com/showteam.php?projekt=0&id=1822494" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> AllProjectStats</a>
                    <a href="http://statsbzh.boinc-af.org/team.php?name=R3JpZGNvaW4=" style="color:#9A9899;"><i class="fa fa-pie-chart" style="color:#707C34;"></i> Setibzh</a>
                </li>
                <li role="presentation" class="dropdown-header" style="color:black;">Where to spend</li>
                <li>
                    <a href="https://www.crypto-games.net/" style="color:#9A9899;"><i class="fa fa-gamepad" style="color:#707C34;"></i> Crypto-Games</a>
                    <a href="http://cointopay.com/M_MarketOverview.jsp" style="color:#9A9899;"><i class="fa fa-shopping-cart" style="color:#707C34;"></i> Cointopay Marketplace</a>                                    
                </li>
                <li role="presentation" class="dropdown-header" style="color:black;">Mining Services</li>
                <li>
                    <a href="https://www.eobot.com/" style="color:#9A9899;"><i class="fa fa-cogs" style="color:#707C34;"></i> Eobot</a>
                </li>
            </ul>
        </li>

        <li>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Tools <span class="caret"></span></a>
            <ul class="dropdown-menu dropdown-menu-inverse" role="menu" style="text-align:center;">
                <li role="presentation" class="dropdown-header" style="color:black;">Tools</li>
                <li>
                    <a href="http://www.gridcoin.co/" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> Katiee's GRC Magnitude/Earnings Calculator</a>
                </li>
                <li>
                    <a href="https://grcgo.com/" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> GRC GO</a>
                </li>
                <li>
                    <a href="https://public.tableau.com/profile/alan.couch#!/vizhome/GridcoinStats/Dashboard1" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> GRC Stats Dashboard</a>
                </li>
                <li>
                    <a href="http://signature.statseb.fr/" style="color:#9A9899;"><i class="fa fa-wrench" style="color:#707C34;"></i> Forum Signatures</a>
                </li>
            </ul>
        </li>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>