		<div class="col-xs-3">
			<div class="col-xs-12">
				<h4>Project Server Status</h4>
			</div>
			<div class="col-xs-12" id="Project_ServerStatus">
			</div>
		</div>
		<div class="col-xs-3">
			<div class="col-xs-12">
				<h4>Project WU Status</h4>
			</div>
			<div class="col-xs-12" id="Project_WU">
			</div>
		</div>