    <div class="row" style="padding:15px; text-align:center;">      
        <div class="col-xs-12" id="teamstats_table">
            <table id="myTable" class="table tablesorter table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th scope="col" style="text-align:center;">
                            CPID
                        </th>
                        <th scope="col" style="text-align:center;">
                            Address
                        </th>
                        <th scope="col" style="text-align:center;">
                            Name
                        </th>
                        <th scope="col" style="text-align:center;">
                            RAC
                        </th>
                        <th scope="col" style="text-align:center;">
                            Percent
                        </th>
                        <th scope="col" style="text-align:center;">
                            Project Mag
                        </th>
                        <th scope="col" style="text-align:center;">
                            NN Mag
                        </th>
                        <th scope="col" style="text-align:center;">
                            Total Credit
                        </th>
                        <th scope="col" style="text-align:center;">
                            Earnings
                        </th>
                    </tr>
                </thead>
                <tbody id="Table_Tbody" style="text-align:center;">
                </tbody>
                <tfoot id="Table_Tfoot" style="text-align:center;">
                  <tr>
                      <td>Totals:</td>
                      <td></td>
                      <td></td>
                      <td id="RAC_Tfoot"></td>
                      <td id="Percent_Tfoot"></td>
                      <td id="PMAG_Tfoot"></td>
                      <td id="MAG_Tfoot"></td>
                      <td id="TRAC_Tfoot"></td>
                      <td></td>
                  </tr>
                  <tr>
                      <td>Totals without ISSUE/NA rows:</td>
                      <td></td>
                      <td></td>
                      <td id="RAC2_Tfoot"></td>
                      <td id="Percent2_Tfoot"></td>
                      <td id="PMAG2_Tfoot"></td>
                      <td id="MAG2_Tfoot"></td>
                      <td id="TRAC2_Tfoot"></td>
                      <td></td>
                  </tr>
                </tfoot>
            </table>
            <!--/Nvidia-->
        </div>
    </div>