<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Einstein", project_url: "Einstein", page_link: "einstein" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Eingstein@Home", project_homepage: "http://einstein.phys.uwm.edu/", project_description: "Einstein@Home searches through data collected by the LIGO and GEO600 gravitational wave detectors for evidence of periodic sources (such as spinning neutron stars), which would be the gravitational equivalent of pulsars. Einstein@Home was launched as part of the World Year of Physics 2005.", project_institution: "University of Wisconsin at Milwaukee and the Albert Einstein Institute", project_institution_url: "http://www.aei.mpg.de/", launch_date: "19 February 2005 (beta testing began 19 November 2004)" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>