<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Bitcoin Utopia", project_url: "BU", page_link: "bu"  } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Bitcoin Utopia", project_homepage: "http://www.bitcoinutopia.net/bitcoinutopia/", project_description: "Bitcoin Utopia is a commercial platform for crowd-donations that uses Internet-connected computers to mine cryptocurrencies for incentive awards and science projects.", project_institution: "private", project_institution_url: "#", launch_date: "8 March 2014" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>