<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "YOYO@Home", project_url: "YOYO", page_link: "yoyo" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "YOYO@Home", project_homepage: "http://www.rechenkraft.net/yoyo/", project_description: "Yoyo@home brings existing distributed computing projects to the Boinc world using the Boinc Wrapper technology.", project_institution: "", project_institution_url: "http://www.rechenkraft.net/", launch_date: "" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>