<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Distributed Data Mining", project_url: "ddm", page_link: "ddm" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "DistributedDataMining", project_homepage: "http://www.distributeddatamining.org/", project_description: "Research in Simulations, Data analysis and Machine Learning.", project_institution: "Private, project management by Nicko Schlitter", project_institution_url: "#", launch_date: "March,2010" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>