<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "GPUGRID", project_url: "GPUGRID", page_link: "gpugrid" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "GPUGRID", project_homepage: "http://www.gpugrid.net/", project_description: "GPUGrid is a volunteer computing project on the PlayStation3 for full-atom molecular simulations of proteins.Your contribution is very important because our CellMD software runs over an order of magnitude faster on the PlayStation3 opening the way to innovative scientific experiments.", project_institution: "University Pompeu Fabra", project_institution_url: "http://www.upf.edu/english/web/", launch_date: "12-05-2007" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>