<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "World Community Grid", project_url: "wcg", page_link: "wcg" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "World Community Grid", project_homepage: "http://www.worldcommunitygrid.org/", project_description: "To further critical non-profit research on some of humanity's most pressing problems by creating the world's largest volunteer computing grid. Research includes HIV/AIDS, cancer, muscular dystrophy, dengue fever, and many more.", project_institution: "IBM Corporate Community Relations", project_institution_url: "http://www.ibm.com/ibm/ibmgives/", launch_date: "16 Nov 2004" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>