<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Moo! Wrapper", project_url: "moo", page_link: "moo" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Moo! Wrapper", project_homepage: "http://www.moowrap.net/", project_description: "Wrapper to help solving RC5-72", project_institution: "Private", project_institution_url: "#", launch_date: "02-05-2011" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>