<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Enigma@Home", project_url: "Enigma", page_link: "enigma" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Enigma@Home", project_homepage: "http://www.enigmaathome.net/", project_description: "Enigma@Home is a wrapper between BOINC and Stefan Krah's M4 Project. The M4 Project is an effort to break 3 original Enigma messages with the help of distributed computing. The signals were intercepted in the North Atlantic in 1942 and are believed to be unbroken.", project_institution: "Private", project_institution_url: "#", launch_date: "09-09-2007" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>