<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Moo! Wrapper", project_url: "Moowrap", page_link: "moo" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "YAFU", project_homepage: "http://yafu.myfirewall.org/yafu/", project_description: "Factorizing Utility. Factoring numbers of 80 - 110 digits length.", project_institution: "Private", project_institution_url: "#", launch_date: "28 Aug 2011" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>