<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "NFS", project_url: "NFS", page_link: "nfs" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "NFS@Home", project_homepage: "http://escatter11.fullerton.edu/nfs/", project_description: "Performing Lattice Sieving step in the Number Field Sieve factorization of large integers.", project_institution: "California State University Fullerton", project_institution_url: "http://www.fullerton.edu/", launch_date: "5 Sep 2009" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>