<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "MindModeling", project_url: "MindModeling", page_link: "mindmodeling" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "MindModeling", project_homepage: "http://mindmodeling.org/beta/", project_description: "The research focuses on utilizing computational cognitive process modeling to better understand the human mind and to improve on the scientific foundations that explain the mechanisms and processes that enable and moderate human performance and learning.", project_institution: "http://cerici.org/", project_institution_url: "http://cerici.org/", launch_date: "17-03-2007" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>