<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "wuprop", project_url: "Wuprop", page_link: "wuprop" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Wuprop", project_homepage: "http://wuprop.boinc-af.org/", project_description: "Collects Work Unit properties of BOINC projects such as computation time, memory and disk space requirements, checkpoint intervals and report times.", project_institution: "Private", project_institution_url: "#", launch_date: "27 Mar 2010" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>