<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "LHC", project_url: "LHC", page_link: "lhc" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "LHC@Home", project_homepage: "http://lhcathome.cern.ch/lhcathome/", project_description: "LHC@home studies the stability of the orbits of particles traveling around the Large Hadron Collider (LHC), a particle accelerator built at CERN, the European Organization for Nuclear Research, in Geneva, Switzerland. When it switches on in late 2009, the LHC will be the most powerful instrument ever built to investigate the properties of sub-atomic particles.", project_institution: "CERN (European Organization for Nuclear Research)", project_institution_url: "http://www.cern.ch/", launch_date: "01-09-2004" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>