<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "SAT@Home", project_url: "SAT", page_link: "sat" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "SAT@Home", project_homepage: "http://sat.isa.ru/pdsat/", project_description: "Sat@home is a research project to solve hard and practically important problems,(dysreate functions in version problems, dyscreat optimizations, bioinformatics, etc.)", project_institution: "Institute for Information Transmission Problems of Russian Academy of Sciences, department of Distributed Computing.", project_institution_url: "http://iitp.ru/en/about", launch_date: "29 Sep 2011" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>