<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "MilkyWay@Home", project_url: "Milkyway", page_link: "milkyway" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Milkyway@Home", project_homepage: "http://milkyway.cs.rpi.edu/milkyway/", project_description: "Research in modeling and determining the evolution of the Milkyway galaxy.", project_institution: "Computer Science Department, Rensselaer Polytechnic Institute", project_institution_url: "http://www.rpi.edu/", launch_date: "07-07-2007" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>