<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "BURP", project_url: "BURP", page_link: "burp" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "", project_homepage: "", project_description: "", project_institution: "", project_institution_url: "", launch_date: "" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>