<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Primegrid", project_url: "Primegrid", page_link: "primegrid" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "PrimeGrid", project_homepage: "http://www.primegrid.com/", project_description: "Primegrid is generating a public sequential prime number database, and is searching for large twin primes of the form k*2n+1 and k*2n-1", project_institution: "Private", project_institution_url: "#", launch_date: "July 12, 2005" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>