<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Collatz", project_url: "Collatz", page_link: "cosmology" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Costmology@Home", project_homepage: "http://www.cosmologyathome.org/", project_description: "The goal of Cosmology@Home is to search for the model that best describes our Universe and to find the range of models that agree with the available astronomical and particle physics data.", project_institution: "Departments of Astronomy and Physics, University of Illinois at Urbana-Champaign", project_institution_url: "http://www.uiuc.edu/", launch_date: "31-03-2007" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>