<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "CSG", project_url: "CSG", page_link: "csg" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Citizen Science Grid", project_homepage: "http://csgrid.org/csg/", project_description: "The project is dedicated to supporting a wide range of research and educational projects.", project_institution: "University of North Dakota (UND). It is hosted by the UND's Computaional Research Center and IT Systems and services.", project_institution_url: "http://und.edu/", launch_date: "23 April, 2013" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>