<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Collatz", project_url: "Collatz", page_link: "collatz" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Collatz", project_homepage: "http://boinc.thesonntags.com/collatz/", project_description: "The Collatz Conjecture project does research in mathematics, specifically testing the Collatz Conjecture, also known as 3x+1 or HOTPO (half or triple plus one).", project_institution: "private", project_institution_url: "#", launch_date: "1-6-2009" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>