<container>
	<div class="row">
		<div class="col-xs-12 col-sm-offset-2 col-sm-8" style="padding:15px;">
			<div class="col-xs-4" style="text-align:center;">
				<div class="col-xs-12">
					<img id="AMSRobohash" src="" alt="Robohash" width="120" height="120" style="border:1px dotted black;">
				</div>
				<div class="col-xs-12">
					<canvas id="AMSidenticon" width="120" height="120" />
				</div>
				<div class="col-xs-4">
					-1 <canvas id="AMSidenticon-1" width="40" height="40" />
				</div>
				<div class="col-xs-4">
					-2 <canvas id="AMSidenticon-2" width="40" height="40" />
				</div>
				<div class="col-xs-4">
					-3 <canvas id="AMSidenticon-3" width="40" height="40" />
				</div>
				<div class="col-xs-12">
					<h5>
						Other Node BestBlockHashes
					</h5>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4">
						<canvas id="GERidenticon" width="40" height="40" />
					</div>
					<div class="col-xs-8">
					 	<a href="/Stats/Servers/GER/GER.html">
						 	<h5>GER Node</h5>
						 </a>
					 </div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4">
						<canvas id="SFidenticon" width="40" height="40" />
					</div>
					<div class="col-xs-8">
					 	<a href="/Stats/Servers/UK/UK.html">
						 	<h5>UK Node</h5>
						 </a>
					 </div>		
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4">
						<canvas id="SFidenticon" width="40" height="40" />
					</div>
					<div class="col-xs-8">
					 	<a href="/Stats/Servers/SF/SF.html">
					 		<h5>SF Node</h5>
					 	</a>
					 </div>
				</div>
				<div class="col-xs-12">
					<div class="col-xs-4">
						<canvas id="NYCidenticon" width="40" height="40" />
					</div>
					<div class="col-xs-8">
					 	<a href="/Stats/Servers/NYC/NYC.html">
						 	<h5>NYC Node</h5>
						 </a>
					 </div>		
				</div>
			</div>
			<div class="col-xs-8">
				<div class="col-xs-12">
					<h4>Amsterdam.GRCNode.co.AMS</h4>
					<ul>
						<li>
							Blocks: <span id='AMSblocks'></span>
						</li>
						<li>
							Connections: <span id='AMSconnections'></span>
						</li>
						<li>
							Version: <span id='AMSversion'></span>
						</li>
						<li>
							Money Supply: <span id='AMSmoneysupply'></span>
						</li>
						<li>
							Best Block Hash: <span id='AMSbestblockhash'></span>
						</li>
						<li>
							<a href="/Stats/Servers/AMS/AMS.json">Full getinfo details</a>
						</li>
						<li>
							<a type="button" class="btn btn-secondary" href="../index.html" role="button">Back to overview</a>
						</li>
					</ul>
				</div>
				<div class="col-xs-12">
					<h4>Peers</h4>
				</div>
				<div class="col-xs-12" id="AMSPeerRoboHashes">

				</div>
			</div>
		</div>
	</div>
</container>
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript" src="/js/Mandatory/jdenticon-1.3.2.min.js"></script>
<script type="text/javascript" src="/js/MISC/AMS.js"></script>
