<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "Atlas", project_url: "Atlas", page_link: "atlas"  } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "Atlas", project_homepage: "http://atlasathome.cern.ch/", project_description: "ATLAS is a particle physics experiment taking place at the Large Hadron Collider at CERN, that searches for new particles and processes using head-on collisions of protons of extraordinary high energy. Petabytes of data were recorded, processed and analyzed during the first three years of data taking, leading to up to 300 publications covering all the aspects of the Standard Model of particle physics, including the discovery of the Higgs boson in 2012.", project_institution: "CERN", project_institution_url: "http://atlasathome.cern.ch/", launch_date: "June 2014" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>