<container>
	<%= partial "/layouts/partials/projectheader", locals: { project_name: "MalariaControl", project_url: "MalariaControl", page_link: "malariacontrol" } %>
	<div class="row" style="text-align:center;">
		<%= partial "/layouts/partials/projectcolumns" %>
		<%= partial "/layouts/partials/projectdetails", locals: { project_name: "MalariaControl.net", project_homepage: "http://www.malariacontrol.net/", project_description: "Simulation models of the transmission dynamics and health effects of malaria are an important tool for malaria control. They can be used to determine optimal strategies for delivering mosquito nets, chemotherapy, or new vaccines which are currently under development and testing. Such modeling is extremely computer intensive, requiring simulations of large human populations with a diverse set of parameters related to biological and social factors that influence the distribution of the disease.", project_institution: "The Swiss Tropical Institute", project_institution_url: "http://www.sti.ch/", launch_date: "19-12-2006" } %>
	</div>
</container>
	<%= partial "/layouts/partials/projectdescription" %>